@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
    body {
       font-family: 'Poppins', sans-serif;
     }

.bg-low { background-color: green; }
.bg-moderate { background-color: orange; }
.bg-high { background-color: red; }
.bg-very-high { background-color: darkred; }
.bg-extreme { background-color: darkred; }
.text-low { color: green; }
.text-moderate { color: orange; }
.text-high { color: red; }
.text-very-high { color: darkred; }
.text-extreme { color: darkred; }
 

/* styles.css */
.select-hover:hover {
  border-color: #C56E2E; /* Dark orange color */
  background-color: #FFEDD5; /* Light background color on hover */
  color: #C56E2E; /* Text color on hover */
}



